# fly.toml app configuration file generated for lemon-snug on 2026-02-01T20:55:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lemon-snug'
primary_region = 'cdg'

[build]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
